<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="VerifyKey" value="serba0308"></add>
    <add key="merchantID" value="eserbadk"></add>
    <add key="BTSURL" value="http://218.111.224.242/BusinessTrackingSystem/"></add>
    <add key="returnURL" value="http://www.e-serbadk.com/PaymentConfirmation.aspx"></add>
    <add key="serverURL" value="http://www.e-serbadk.com/"></add>
    <!--<add key="connString" value="Provider=Microsoft.Jet.OLEDB.4.0;data source={MYPATH};Persist Security Info=True"></add>-->
    <add key="connString" value="Provider=Microsoft.ACE.OLEDB.12.0;data source={MYPATH};Persist Security Info=True"></add>
    <add key="AmsPrice" value="1300"></add>
    <add key="ChmsPrice" value="1500"></add>
    <add key="FMATPrice" value="Contact Us for Price"></add>
    <add key="ICNSPrice" value="Contact Us for Price"></add>
    <add key="IMATPrice" value="Contact Us for Price"></add>
    <add key="SWIMPrice" value="Contact Us for Price"></add>
    <add key="PCETPrice" value="Contact Us for Price"></add>
    <add key="PPRSPrice" value="Contact Us for Price"></add>
    <add key="RBIPrice" value="Contact Us for Price"></add>
    <add key="MOCPrice" value="Contact Us for Price"></add>
    <add key="MyPlantPrice" value="Contact Us for Price"></add>
    <add key="VibraSolvePrice" value="Contact Us for Price"></add>
    <add key="AlignSoftPrice" value="Contact Us for Price"></add>
    <!--<add key="connString" value="Provider=Microsoft.ACE.OLEDB.12.0;data source={MYPATH};Persist Security Info=True"></add>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="connString" connectionString="data source=10.20.46.15;Database=KSB;User Id=ksbuser;Password=userksb;" providerName="System.Data.SqlClient" />-->
    <!--<add name="connString" connectionString="data source=localhost;Database=Sirim_22sep;User Id=sa;Password=myplant;" providerName="System.Data.SqlClient"/>-->
    <add name="connString" connectionString="data source=localhost;Database=TrackingManpower;User Id=sa;Password=serbait;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      
      <assemblies>
        <!--<add assembly="Stimulsoft.Base, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Controls, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Database, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Report.Design, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Report, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Report.Web, Version=2011.2.1100.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>-->
        <!--<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <!--<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <!--<add assembly="Office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <!--<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <!--<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>-->
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
    </httpModules>
    <identity impersonate="false"/>
    <authentication mode="Windows"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode"/>
      <remove name="RadCompression"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode"/>
    </modules>
    <handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <remove name="ChartImage_axd"/>
      <remove name="ChartImageHandler"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
      <!--<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
    </handlers>
    <directoryBrowse enabled="false"/>
   s  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CommonSoap11Binding"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="CommonSoap12Binding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://ametrine.sirim.my:80/crm_ws/services/Common.CommonHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="CommonSoap11Binding" contract="Common.CommonPortType" name="CommonHttpSoap11Endpoint"/>
      <!--<endpoint address="http://ametrine.sirim.my:80/crm_ws/services/Common.CommonHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="CommonSoap12Binding" contract="Common.CommonPortType" name="CommonHttpSoap12Endpoint"/>-->
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service"/>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>
