<?xml version="1.0"?>
<configuration>
	<system.web>
		<customErrors mode="RemoteOnly" defaultRedirect="index.html"/>
		<compilation debug="true"/></system.web>
	<appSettings>
		<add key="VerifyKey" value="serba0308"></add>
    <!--<add key="VerifyKey" value="317d6242030f23580aef046877a7c938"></add>-->
		<add key="merchantID" value="serbadinamik"></add>
		<add key="BTSURL" value="http://218.111.224.242/BusinessTrackingSystem/"></add>
		<add key="returnURL" value="http://www.e-serbadk.com/PaymentConfirmation.aspx"></add>
		<add key="serverURL" value="http://www.e-serbadk.com/"></add>
		<add key="connString" value="Provider=Microsoft.Jet.OLEDB.4.0;data source={MYPATH};Persist Security Info=True"></add>
    <!--<add key="connString" value="Provider=Microsoft.ACE.OLEDB.12.0;data source={MYPATH};Persist Security Info=True"></add>-->
		<add key="AmsPrice" value="1300"></add>
		<add key="ChmsPrice" value="1500"></add>
		<add key="FMATPrice" value="Contact Us for Price"></add>
		<add key="ICNSPrice" value="Contact Us for Price"></add>
		<add key="IMATPrice" value="Contact Us for Price"></add>
		<add key="SWIMPrice" value="Contact Us for Price"></add>
		<add key="PCETPrice" value="Contact Us for Price"></add>
		<add key="PPRSPrice" value="Contact Us for Price"></add>
		<add key="RBIPrice" value="Contact Us for Price"></add>
		<add key="MOCPrice" value="Contact Us for Price"></add>
		<add key="MyPlantPrice" value="Contact Us for Price"></add>
		<add key="VibraSolvePrice" value="Contact Us for Price"></add>
		<add key="AlignSoftPrice" value="Contact Us for Price"></add>
		<!--<add key="connString" value="Provider=Microsoft.ACE.OLEDB.12.0;data source={MYPATH};Persist Security Info=True"></add>-->
	</appSettings>
	<system.webServer>
		<handlers>
			<add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
		</handlers>
		<directoryBrowse enabled="false"/>
		<defaultDocument>
			<files>
				<clear/>
				<add value="index.aspx"/>
				<add value="Default.htm"/>
				<add value="Default.asp"/>
				<add value="index.htm"/>
				<add value="index.html"/>
				<add value="index.php"/>
				<add value="Default.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
